.businesses {
    margin: 1.15rem;
    p {
        font-size: 1rem;
        color: $text-gray-2;
        font-weight: 700;
        margin: 2rem 0;
        padding: 0 2rem;
        text-align: center;
    }
    img {
        width: 4rem;
        margin: 1rem;
    }
}