.businesses {
    margin: 3rem 1.15rem;
    p {
        font-size: 1.25rem;
        color: $text-gray-2;
        font-weight: 700;
        margin: 2rem 0;
        padding: 0 2rem;
        text-align: center;
    }
    &__logos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        img {
            width: 20%;
            margin: 0 0.75rem;
        }
    }
}

@media only screen and (min-width: 1100px) {
    .businesses {
        margin: 6rem 2rem;
        &__logos {
            margin: 0 4rem;
            img {
                width: 3rem;
                margin: 2rem 5rem;
            }
        }
    }
}