.btn {
    color: $text-white;
    padding: 1.25rem 1rem;
    border-radius: 5px;
    margin: 1rem;
    font-weight: 900;
    display: inline-block;
    text-align: center;
    img {
        height: 0.65rem;
        width: 0.75rem;
    }
    &-primary {
        background: $bg-blue-1;
        color: $bg-white-1;
    }
    &-secondary {
        background: $bg-white-1;
        color: $bg-blue-1;
        border: 1px solid $bg-blue-1;
    }
    &--small {
        border: 1px solid $bg-white-2;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
    }
}