.features {
    margin: 3rem 1.15rem;
    &-brand {
        width: 70%;
        display: block;
        margin: auto;
        &--full {
            width: 100%;
        }
    }
    .texts {
        &__item {
            margin: 1.5rem 1rem;
            color: $text-gray-2;
            h3 {
                color: $text-gray-1;
                margin: 1rem 0;
            }
            &__section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    color: $text-gray-2;
                    flex: 0.9
                }
                img {
                    width: .75rem;
                }
                a {
                    color: $text-blue-2;
                    text-decoration: underline dotted;
                    font-weight: 700;
                }
            }
            
        }
    }
}

@media only screen and (min-width: 1100px) {
    .features {
        margin: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 45%;
        }
        .texts {
            &__item {
                margin: 3rem 1rem;
            }
        }
        &--reverse {
            flex-direction: row-reverse;
        }
    }
}