.github-free {
    color: $text-white;
    background-color: $bg-dark-blue;
    padding: 1rem 1.35rem;
    margin: 1.15rem;
    border-radius: .45rem;
    h1 {
      font-size: 1.5rem;  
    }
    p {
        margin: 1rem 0;
    }
}