.github-free {
    color: $text-white;
    background-color: $bg-dark-blue;
    padding: 1.5rem 2rem;
    margin: 1.15rem;
    border-radius: .45rem;
    h1 {
      font-size: 1.5rem;  
    }
    p {
        margin: 1rem 0;
    }
}

.free {
  text-align: center;
  margin: 3rem 1.15rem;
  p {
    color: $text-gray-2;
    margin: 1rem 0;
  }
  a {
    color: #1074e7;
    font-weight: 700;
  }
}
