.getting-started {
    text-align: center;
    padding: 3rem 0;
    &__body {
        padding: 3rem 0;
        margin: 1.15rem;
        box-shadow: 0 0 50px $shadow-1;
        border-radius: 5px;
        h1 {
            color: $text-black-1;
            font-size: 1.5rem;
            text-align: center;
            font-weight: 700;
            margin-bottom: 2rem;
        }
        .sub {
            font-size: 1rem;
            color: $text-gray-2;
            font-weight: 700;
            margin: 2rem 0;
            padding: 0 1.5rem;
        }
        &__item {
            margin: 1rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 1rem;
                font-weight: 900;
                margin: 0.5rem 0;
            }
            .subtitle {
                color: $text-gray-3;
                font-size: 0.9rem;
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    .getting-started {
        &__body {
            display: flex;
            &__heading {
                flex: 0.75;
                text-align: left;
                h1 {
                    text-align: left;
                }
                .sub {
                    padding: 0;
                }
            }
            &__item {
                flex: 0.5;
            }
        }
    }
}