header {
    background-color: $bg-black-1;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 2.5rem;
    }
}

.mobile-menu {
    display: flex;
    align-items: center;
    &-icon {
        width: 1.5rem;
    }
}