header {
    background-color: $bg-black-1;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 2.5rem;
    }
    .nav-links, .search, .btn {
        display: none;
    }
}

.mobile-menu {
    display: flex;
    align-items: center;
    &-icon {
        width: 1.5rem;
    }
}

@media only screen and (min-width: 1100px) {
    header {
        .nav-links {
            display: block;
            ul {
                display: flex;
                li {
                    list-style-type: none;
                    color: $text-white;
                    margin: 0 1rem;
                }
            }
        }
        .search, .btn {
            display: block;
        }
        .search {
            input {
                padding: 0.75rem 0.75rem;
                border-radius: 6px;
                background-color: $text-gray-1;
                &::placeholder {
                    color: $text-gray-3;
                    font-weight: bold;
                }
            }
        }
    }
    .mobile-menu {
        &-icon {
            display: none;
        }
    }
    .group {
        display: flex;
        align-items: center;
    }
}