.hero {
    background-color: $bg-black-1;
    color: $bg-white-2;
    text-align: center;
    &-texts {
        h1 {
            font-size: 2.5rem;
            padding: 0 5rem;
        }
        p {
            padding: 1rem 1.75rem;
            color: $text-gray-1;
            line-height: 1.5;
            strong {
                color: $bg-white-2;
            }

        }
    }
}