.integrations {
    margin: 3rem 1.15rem;
    &__logos {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        img {
            margin: 2rem;
            width: 5rem;
            border-radius: 50%;
        }
    }
}
@media only screen and (min-width: 1100px) {
    .integrations {
        margin: 6rem 3rem;
    }
}