.signup {
    background-color: $bg-black-1;
    &-container {
        padding: 1rem 1.15rem;
        h1.title {
            color: $bg-white-3;
            font-size: 1.75rem;
            text-align: center;
            margin: 2rem 1rem;
        }
        &__form {
            .element {
                display: flex;
                flex-direction: column; 
                margin: 2rem 0;        
                label {
                    color: $text-white;
                    font-size: 0.75rem;
                    margin-bottom: 0.5rem;
                    font-weight: 600;
                }
                input {
                    padding: 0.75rem 0.75rem;
                    border-radius: 6px;
                    &::placeholder {
                        color: $text-black-1;
                        font-weight: bold;
                    }
                }
            }
        }
        .consent {
            color: $text-gray-3;
            font-size: 0.9rem;
            margin: 1rem 0;
            text-align: center;
            a {
                color: $text-white;
            }
        }
    }
}
@media only screen and (min-width: 1100px) {
    .signup-container {
        margin: 6rem;
        h1.title {
            max-width: 1000px;
            margin: 3rem auto;
        }
        &__form {
           .signup_form {
                &--horizontal {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: flex-start;
                }
                a {
                    flex: 0.5;
                    align-self: center;
                }
           }
        }
    }
  }
