.signup-container {
    background-color: $bg-black-1;
    padding: 1rem 1.15rem;
    h1.title {
        color: $bg-white-3;
        font-size: 1.75rem;
        text-align: center;
        margin: 2rem 1rem;
    }
    .signup_form {
        .element {
            display: flex;
            flex-direction: column; 
            margin: 2rem 0;        
            label {
                color: $text-white;
                font-size: 0.75rem;
                margin-bottom: 0.5rem;
                font-weight: 600;
            }
            input {
                padding: 0.75rem 0.75rem;
                border-radius: 6px;
                &::placeholder {
                    color: $text-black-1;
                    font-weight: bold;
                }
            }
        }
    }
    .consent {
        color: $text-gray-3;
        font-size: 0.9rem;
        margin: 3rem 0;
        text-align: center;
        a {
            color: $text-white;
        }
    }
}
