.tag {
    margin: 0.5rem 0;
    border: 1px solid $text-black-1;
    display: inline-block;
    padding: 0.075rem 0.35rem;
    font-size: 0.595rem;
    border-radius: 1em;
    &--new {
        color: $text-green;
        border-color: $text-green;
    }
}