$bg-white-1: #ffffff;
$bg-white-2: #fafbfc;
$bg-white-3: #f6f8fa;
$bg-blue-1: #1074e7;
$bg-blue-2: #0366d6;
$bg-dark-blue: #044289;
$bg-green: #2ebc4f;
$bg-black-1: #24292e;
$bg-black-2: #2b3137;
$bg-purple: #4a154b;

$text-black-1: #24292e;
$text-black-2: #000000;
$text-blue-1: #0366d6;
$text-gray-1: #586069;
$text-gray-2: #6a737d;
$text-gray-3: #959da5;
$text-white: #ffffff;
$text-blue-2: #1074e7;
$text-green: #22863a;
$text-brown: #a04100;
$test-orange: #ff4500;

$shadow-1: #e3e3e9






